*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* home page */

.home-page{
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20230722/pngtree-d-render-of-office-workspace-with-window-and-door-in-front-image_3781964.jpg);
    height: 500px;
    width: 100%;
    display: flex;
    gap: 50%;
}

/* header */

header{
  background-color: rgba(0, 0, 0, 0.568);
  color:whitesmoke;
  width: 17%;
  height: 2115px;
  gap: 30px;
  display: flex;
  text-align: center;
  flex-direction: column;
  position: absolute;
}
header h2{
    border: double wheat;
    margin: 10%;
    width: 120px;
    margin-top: 50px;
    padding: 5px 0;
    margin-left: 20%;
}
 header .nav ul{
list-style: none;
margin-top: 5px;
}

 header .nav ul li{
    margin-top: 10px;
}
 header .nav ul li a{
    text-decoration: none;
    color: whitesmoke;
}

.card {
    width: 30%;
    padding: 10px 20px;
    position: absolute;
    top: 20%; 
    right: 10%;
    background-color: rgba(7, 7, 7, 0.445);
    color: rgba(255, 255, 255, 0.815);
}

header .follow a{
color: bisque;
margin-left: 10px;
font-size: 24px;
} 


/* Hero-section */

.hero-section{
display: flex;
gap: 100px;
padding: 30px 10px;
margin-left: 25%;
width: 60%;
justify-content: center;
}
.hero-section .about-us i, 
.hero-section .company-profile i{ 
font-size: 60px;
color: rgb(29, 81, 88);
}
.hero-section .about-us h1, 
.hero-section .company-profile h1{
color: rgba(0, 0, 0, 0.733);
margin: 17px 0px;
}

/* our-work */

.our-work{
border: 2px solid black;
outline: 2px solid black;
outline-offset: 2px;
width: fit-content;
padding: 15px;
margin-left: 25%;
margin-top: 5%;
}
.our-work h2{
color: rgba(0, 0, 0, 0.733);
}
.our-work .photo{

justify-content: center;
margin: 30px;
gap: 10px;
}
.our-work .photo img{
height: 190px;
width: 180px;
margin-bottom: 10%;

}
.slider i{
display: flex;
font-size: 40px;
color: rgba(34, 31, 31, 0.781);
justify-content: center;
margin-top: -10%;

}

/* client-section */

.client-info h2{
margin: 10px 0px;
color: rgba(0, 0, 0, 0.733);
}
.client-info {
width: 65%;
margin: 6% 25% ;

}
.client-logo{
display: flex;
flex-wrap: wrap;
margin-left: 25%;
gap: 30px  70px;

}
.client-logo img{
height: 90px;
width: 160px;
padding: 6px;
border:  1px solid black;
}

/* footer */

footer{
display: flex;
margin-left: 25%;
gap: 20%;

}
footer .note h2{
color: rgba(0, 0, 0, 0.733);
}
footer .note{
border: 2px solid black;
outline: 2px solid black;
outline-offset: 2px;
width: fit-content;
height: fit-content;
margin: 10% 0;
padding: 20px;
width: 35%;
}
footer .note p{
margin-top: 20px;
}
footer .info{
height: 50px;
margin-top: 11%;
gap: 5px;
display: flex;
flex-direction: column;
}

footer .info input{
    outline: 0;
     border: 0;
     
     padding: 10px 30px;
     box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
footer .info button{
width: fit-content;
padding: 5px;
border: 0;
box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
footer .info button:active{
scale: 0.9;
}